<h1> The OSMB Project</h1>

<h3>The Open Source Malloc Benchmarking Tool</h3>
OSMB aims to help developers analyze various implementations of memory allocator systems in Linux. This tool is a part of my Master's thesis.

<h3>Recent activity</h3>
RECACT PLACEHOLDER

<h3>Source code</h3>
The project git repository is <a href="http://git.afri.cz/?p=diplomka.git;a=summary">here</a>
